img {
  height: 23vh;
  width: 23vh;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 0px;
}


p {
  margin-top: -40px;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: #007bff;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.127);
  
}
/* 
h1 {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin-top: -10px;
  font-size: 50px;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
} */

/* Add hover effect for images */
img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect for nav background */
nav:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease-in-out;
}

#h1{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin-top: -15px;
  font-size: 50px;
  /* color: #333; */
  text-align: center;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  letter-spacing: 2px;

}